* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;

}
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}
button {
  border: none;
  background-color: white;
}
.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: 1px 3px 8px #0091f871;
}
.homesection {
  width: 100%;
  background-color: #008ff8;
  height: 45px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.nav-add {
  width: 1435px;
  display: flex;
}
.nav-address {
  display: flex;
  justify-items: center;
  height: 45px;
  width: 58%;
  justify-content: space-between;
}
.mail {
  display: flex;

  width: 42%;
}

.name {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.mail-subcontainer {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
}

.mail-subcontainer2 {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.mail-id {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
.mail-id a {
  color: white;
}

.navbar {
  width: 100%;
  height: 109px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.navbar-container {
  width: 1435px;
  height: 100%;
  display: flex;
  justify-content: start;
}

.logo {
  width: 27%;
  padding-top: 14px;
}
.menu {
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
}

.sub-menu {
  display: flex;
  width: 100%;
  height: 20px;
}

.menu-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.menu-list li a {
  color: #008ff8;
  font-size: 18px;
}

.menu-list li #href:hover {
  color: #8dc641;
  stroke: #8dc641;
}

.about-hospital {
  display: flex;
  font-weight: bold;
  align-items: center;
}


.abouthospital-dropdownmeu:hover .about-hospital a{
  color: #8dc641;
}

.abouthospital-dropdownmeu:hover .about-hospital {
  color: #8dc641;
  stroke: #8dc641;
}

.dropdpwnmenu {
  background-color: white;
  height: 130px;
  display: flex;
  flex-direction: column;
  width: 190px;
  color: #008ff8;
  position: absolute;
  box-shadow: 1px 5px 13px rgba(0, 0, 0, 0.178);
  border-radius: 10px;
  display: none;
}

.li-bg {
  height: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  border-radius: 10%;
  gap: 3px;
  width: 98%;
}

.abouthospital-dropdownmeu:hover .dropdpwnmenu {
  display: flex;
}

#column1 li {
  height: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 95%;
  padding-left: 12px;
  border-radius: 10px;
}
#Management:hover {
  background-color: #008ff8;
  color: white;
}

#Certifications:hover {
  background-color: #008ff8;
  color: #ffffff;
  text-decoration: none;
}

#Management:hover a {
  color: #ffffff;
}

#Certifications:hover a {
  color: #ffffff;
}
.dropdpwnmenu2 {
  background-color: white;
  height: 450px;
  display: flex;
  flex-direction: column;
  width: 190px;
  color: #008ff8;
  position: absolute;
  z-index: 998;
  box-shadow: 1px 5px 13px rgba(0, 0, 0, 0.178);
  border-radius: 10px;
  display: none;
}

.abouthospital-dropdownmeu:hover .dropdpwnmenu2 {
  display: flex;
}

.Appointment-main {
  width: 19%;
  display: flex;
  justify-content: end;
}

.Appointment {
  display: flex;

  width: 85%;
  height: 100%;
  justify-content: end;
}
.Appointment-sub {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Appointment-logo {
  width: 55%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #008ff8;
  color: white;
  border-radius: 10%;
}
.Appointment-logo a {
  color: #008ff8;
}
.Appointment-logo:hover a {
  color: white;
}


.search-container {
  position: relative;
  width: 40px;
}

.search-btn {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.search-btn:focus {
  outline: none;
}

.search-input {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border: 2px solid #007bff;
  border-radius: 50px;
  outline: none;
  font-size: 16px;
  background-color: white;
  color: #333;
  transition: width 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.search-input::placeholder {
  color: #aaa;
}

.search-input:focus {
  width: 250px;
  opacity: 1;
  visibility: visible;
}

.search-container.active .search-input {
  width: 400px;
  opacity: 1;
  visibility: visible;
}

#profileBtn {
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
}

/* The Modal (background) */
.modal {

    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(255, 255, 255, 0.4); 
    padding-top: 90px; 
    border: none;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #88888880;
    width: 535px;
    height: 571px;
    border-radius: 12px;
    text-align: center;
}

/* Close Button */
.close {
    color:rgb(129, 129, 129);
    float: right;
    font-size: 35px;
  
    width: 50px;
    height: 24px;
}

.close:hover,
.close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

/* Style the login form */
.login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container img.logo {
    width: 214px;
    height: 68px;

    align-self: center;
}

.login-container h2 {
    margin-top: 44px;
    font-size:32px;
    text-align: center;
    line-height: 8px;
}

.login-container p{
  font-size:18px;
  font-weight: 400;

}




.login-container input[type="email"], 
.login-container input[type="password"] {
    width: 424px;
    height: 45px;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 0.75px solid #171717;
    box-sizing: border-box;
    border-radius: 8px;

}

.login-container input[type="email"]{
  margin-top: 35px;
  }
  

.login-container .remember-me {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 12px;
}

.login-container .remember-me input[type="checkbox"] {
  margin-right: 5px; /* Move the checkbox to the right */
  transform: scale(1.2); 
}

.login-btn {
    width: 424px;
    height: 45px;
    background-color: #007bff;
    color: white;
    margin-top: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#donthave-acc{
  font-size:12px;
  font-weight: 400;
}

.forgot-password{
  color: #008FF8;
  font-size: 12px;
}

.login-btn:hover {
    background-color:#8dc641;
}

.login-container .forgot-password {
    display: block;
  
}

.login-container p {
    margin-top: 20px;
}

#donthave-acc a{
  color: #008FF8;
}


.Appointment-logo:hover {
  background-color: #008ff8;
}

.Appointment-avg:hover {
  stroke: #8dc641;
}

@media (min-width: 1340px) and (max-width: 1470px) {
  .nav-address {
    width: 80%;
  }

  .mail-subcontainer2 {
    width: 60%;
  }
  .nav-add {
    width: 1250px;
  }

  .navbar-container {
    width: 1250px;
  }
}

@media (min-width: 1229px) and (max-width: 1340px) {

  .nav-add {
    width: 1100px;
  }
  .navbar-container {
    width: 1000px;

  }

}

@media (min-width: 1000px) and (max-width: 1229px) {

  .nav-add {
    width: 1000px;
  }
  .navbar-container {
    width: 1000px;
    
  }
  html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
  }

}

/* getintouch-main */

.getintouch-main{
    width: 100%;
    height:486px;

    display: flex;
    justify-content: center;
    padding-top: 154px;
}
.getintouch-sub{
    width: 1435px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.getintouch-heading{
    height: 27%;

    display: flex;
    align-items: end;
}

.getintouch-heading h1{
    font-size: 64px;
    font-weight: 600;
}
.getintouch-heading span{
    color: #008ff8;
}

.getintouch-adreesmain{
    width: 100%;
    height:61%;
    display: flex;
    justify-content: space-between;
}

.getintouch-adreessub{
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.our-address{
    height: 65%;
    width:64%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-top: 6%;
}

.our-address P{
    text-align: center;
    font-size:16PX;
    line-height: 25PX;
}

.our-address p span{
  color: #007bff;
}

.our-address H2{
    font-size:32PX;
    font-family: 500;
}

.mapmain{
  width: 100%;
  height: 717PX;
  margin-top: 86PX;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-sub{
  width: 1435px;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: end;
}


#map{
  background-color: lightskyblue;
  width: 47%;
  height:90%;
  box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.24);
}

.contact-form2{
  width: 47%;
  height:100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contact-form3{
  width: 100%;
  height:90%;
  background-color: #D2ECFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.24);
}

.contact-form{
  width: 81%;
  height:71%;
  display: flex;
}

.contact-form2 h1 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #333;
}

.contact-form2 h1 span {
  color: #007bff;
}

.contact-form form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.contact-form label{
  font-size:18px;
  font-weight: 500;
}
.contact-form input{
  height:12%;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding-left:20px;
}

#message{
  border: none;
  height:25.5%;
  border-radius: 8px;
  padding-top: 16px;
  padding-left:20px;
  font-size:18px;
}
textarea {
  resize: none;
}

.contact-form button{
  width:33%;
  height:10%;
  border-radius: 8px;
  background-color: #008ff8;
  color: white;
  font-size: 18px;
}

.contact-form button:hover{
  background-color: #8dc641;
}

/* .ambulance-main */
.ambulance-main{
  width: 100%;
  height: 472px;
  margin-top: 147px;
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: #E2F3FF;
}

.ambulance-sub{
  width: 1780px;
  height: 400px;
  display: flex;
}

.ambulance-img{
  width:30.4%;
height: 100%;
background-size: cover;
z-index: 1;
}

.amulance-heading{
  width:73.7%;
  height: 100%;
  font-family: "Kaushan Script,cursive";
  display: flex;
  flex-direction: column;
}

.amulance-heading h1{
  font-family: "Kaushan Script";
  color: #00069B;
  font-size:56px;
  margin-left: 40px;
}
.amulance-heading p{
  font-size:18px;
  font-style: italic;
  margin-left: 40px;
}
.amulance-heading h2{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 40px;

}

.servicelogo{
  width:69.7%;
  height:30%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.greenblue-line{
  width:100%;
 height: 9%;
 display: flex;
 flex-direction:column;
justify-content: space-between;
margin-top: 1%;
}
.greenblue-line DIV{
  width:100%;
  height: 41%;
  background-color: #008ff8;
}
#green-line{
  background-color: #8dc641;
}

#greenblue-block{
  margin-left: 82.3%;
 margin-top: 2%;   
}

@media (min-width: 1370px) and (max-width: 1630px) {
  .ambulance-sub{
    width: 1550px;
  }
  .ambulance-img{
    width: 20%;
  }
  .amulance-heading h1{
    font-family: "Kaushan Script";
    font-size:50px;
    margin-left: 230px;
  }
  .amulance-heading p{
    font-size:16px;
    margin-left: 230px;
  }
  .amulance-heading h2{
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    margin-left: 230px;
  
  }
  .servicelogo{
    width:90%;
    height:30%;
    display: flex;
  
  }
  .greenblue-line{
    width:100%;
   height: 9%;
   display: flex;
   flex-direction:column;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 9%;
  }
  #greenblue-block{
  margin-left: 88.3%;
  
}

}



@media (min-width: 1100px) and (max-width: 1370px) {
  .ambulance-sub{
    width: 1400px;
  }
  .ambulance-img{
    width: 15%;
  }
  .amulance-heading h1{
    font-family: "Kaushan Script";
    font-size:48px;
    margin-left: 320px;
  }
  .amulance-heading p{
    font-size:16px;
    margin-left: 320px;
  }
  .amulance-heading h2{
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    margin-left: 320px;
  
  }
  .servicelogo{
    width:98%;
    height:30%;
    display: flex;
  
  }
  .greenblue-line{
    width:100%;
   height: 9%;
   display: flex;
   flex-direction:column;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 30%;
  }
  #greenblue-block{
  margin-left: 93.3%;
}
}



@media (min-width: 2200px) and (max-width: 3260px) {
  .ambulance-sub{
    width: 1780px;
    height: 100%;
    margin-right: 580px;
  }
}



.footer-main{
  width: 100%;
  height: 400px;
  background-color: #002947;
  display: flex;
  justify-content: center;
}

.footer-sub{
  width:1435px;
  height: 60%;

  margin-top:68px;
  display: flex;
  justify-content: space-between;
}

.log{
  width: 33.2%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.log p{
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.footer-menu{
  width:40.4%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  
}

.quick-links{
  width: 21.3%;
  height: 100%;

}
.log img{
  width: 45%;

}

#instagram-main{
height:20%;
width: 100%;
display: flex;
justify-content: space-between;
}

.instagram{
  width: 42%;
  height: 100%;

display: flex;
justify-content: space-between;
align-items: center;

}

.instagram button{
  border: none;
  background-color:#002947;
}

.footer-ContactUs {
  width: 29.8%;
  height: 100%;
  border: 1px solid #008ff8;
  background-color: #008ff8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  
}

.footer-ContactUs a{
  color: white;
  font-weight:500;
  font-size: 22px;
}

.footer-ContactUs:hover{
  background-color: white;
}

.footer-ContactUs:hover a{
  color:#008ff8;
}

.footer-menu LI{
  line-height:40px;
  font-size: 18px;
  font-weight: 500;
  color:white;
}

#footer-li{
  font-size: 24px;
  font-weight: 600;
  display: flex;
  color: white;

}

.footer-svg{
  font-weight: 500;
  display: none;
}
  
.footer-menu li:hover{
  color: #008ff8;
}

.footer-menu li:hover .footer-svg{
  display: inline;
}

.footer-menu a{
  color: white;
}

.footer-menu li:hover a{
  color: #008ff8;
}

.footer-menu ul{
  width:100%;
}

.quick-links p{
  font-size:18px;
  font-weight: 500;
  color: white;
  height: 50px;
  padding-left:40px;
}


.quick-links svg{
  display:inline-block;
  float:left;
}

.quick-links input{
  width: 229px;
  height: 46px;
  margin-top: 91px;
  border-radius: 6px 0px 0px 6px ;
  font-size: 18px;
  padding-left: 20px;
  border: none;
}

.btn-search2{
  width: 76px;
  height:46px;
  background-color: #008ff8;
  display: inline-block;
  float: right;
  margin-top: 91px;
  border-radius: 0px 6px 6px 0px ;

  border-style: none;
}

.btn-search2 svg{
  width: 100%;
}

@media (min-width: 1000px) and (max-width: 1470px) {
  .footer-sub{
    width:1250px;
    height: 60%;
    margin-top:68px;
    display: flex;
    justify-content: space-between;
  }
  .btn-search2{
    width: 66px;
    height:46px;
    background-color: #008ff8;
    display: inline-block;
    float: right;
    margin-top: 110px;
    border-radius: 0px 6px 6px 0px ;
    
  }
  .quick-links input{
    width: 200px;
    height: 46px;
    margin-top: 110px;
    border-radius: 6px 0px 0px 6px ;
  
    font-size: 18px;
    padding-left: 20px;
  }
  .footer-ContactUs a{
    color: white;
    font-weight:500;
    font-size: 18px;
  }
  

}



